doctype html
html(lang="en")
    -
        var title = "Weather App by Alex Puiu";
            metaDescription = "Hehe, you really see that?!";
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content=metaDescription)
        title=title
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nanum+Gothic")
    body
        .location
            h1.location-timezone Timezone
            canvas(class="icon" width="128" height="128")

        .temperature
            .degree-section
                h2.temperature-degree 34
                span.temperature-span &#x2103
            .temperature-description Man, is really cold







//- JavaScript from app.js
script
    include skycons.js
    include app.js
