<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Process to learn JavaScript: 40% lalalalalala")
        title Weather App by Alex Puiu
        link(rel="stylesheet", href="style.css")
    body
        h1 sall
