@import 'config/color';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, $color-linear-1, $color-linear-2);
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-timezone {
    margin-right: 1.2rem;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 40px;
    cursor: pointer;

    span {
        font-size: 50px;
        margin-left: 0.5rem;
    }
}